@import "../../styles/variables.scss";

.benefits {
    margin-bottom: 90px;

    &__title {
        @include h2;
        margin-bottom: 40px;
    }

    &__inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 40px;
        grid-row-gap: 40px;

        &__item {
            &__img {
                margin-bottom: 4px;
            }

            &__title {
                font-size: 18px;
                font-weight: 500;

                margin-bottom: 4px;
            }

            &__text {
                width: 100%;
                max-width: 350px;
                line-height: $line-height-text;
            }
        }
    }
}

@media (max-width: 992px) {
    .benefits {
        &__inner {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 576px) {
    .benefits {
        margin-bottom: 50px;

        &__title {
            font-size: 22px;
            line-height: 23px;
        }

        &__inner {
            grid-template-columns: 1fr;

            &__item {
                width: 100%;
                margin: 0 auto;

                &__title {
                    font-size: 15px;
                }

                &__text {
                    font-size: 13px;
                    max-width: none;
                }
            }
        }
    }
}

@import "../../styles/main.scss";