@import "../../styles/variables.scss";

.medicine {
    margin-bottom: 90px;

    &__inner {
        display: flex;
        gap: 30px;

        &-right {
            &__title {
                @include h2;
                margin-bottom: 8px;
            }

            &__text {
                flex-shrink: 1;
                line-height: $line-height-text;
            }
        }

        &-left {
            img {
                display: block;
                width: 100%;
                min-width: 370px;
            }
        }
    }
}


@media(max-width:1025px) {
    .medicine {
        &__inner {
            display: flex;
            flex-direction: column;
            row-gap: 30px;

            &-left {
                img {
                    display: block;
                    width: 100%;
                    max-width: 370px;
                }
            }
        }


    }
}

@media(max-width:576px) {
    .medicine {
        margin-bottom: 50px;

        &__inner {

            &-right {
                &__title {
                    font-size: 22px;
                    line-height: 23px;
                }
            }
        }
    }
}

@media(max-width:380px) {
    .medicine {


        &__inner {

            &-left {
                img {
                    display: block;
                    width: 100%;
                    min-width: 340px;
                }
            }
        }
    }
}

@import "../../styles/main.scss";