@import "../../styles/variables.scss";

.offer {
	&__title {
		@include h1;
		text-transform: uppercase;
		margin: 46px 0 32px;
	}

	&__img {
		display: block;
		width: 100%;

		margin-bottom: 90px;
	}
}

@import '../../styles/main.css'