@import url("https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&family=Montserrat+Alternates:wght@400;500;600;700&display=swap");
.benefits {
  margin-bottom: 90px;
}
.benefits__title {
  font-weight: 600;
  font-size: 30px;
  line-height: 39px;
  margin-bottom: 40px;
}
.benefits__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 40px;
}
.benefits__inner__item__img {
  margin-bottom: 4px;
}
.benefits__inner__item__title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 4px;
}
.benefits__inner__item__text {
  width: 100%;
  max-width: 350px;
  line-height: 24.75px;
}

@media (max-width: 992px) {
  .benefits__inner {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 576px) {
  .benefits {
    margin-bottom: 50px;
  }
  .benefits__title {
    font-size: 22px;
    line-height: 23px;
  }
  .benefits__inner {
    grid-template-columns: 1fr;
  }
  .benefits__inner__item {
    width: 100%;
    margin: 0 auto;
  }
  .benefits__inner__item__title {
    font-size: 15px;
  }
  .benefits__inner__item__text {
    font-size: 13px;
    max-width: none;
  }
}
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 15px;
  color: #3e3e3e;
}
body.no-scroll {
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 15px;
  }
  .offer__inner {
    flex-wrap: wrap;
    row-gap: 40px;
    margin: 0 auto;
    justify-content: center;
  }
  .medicine__inner {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }
  .tamga__inner-right__title {
    font-size: 24px;
    line-height: 32px;
  }
  .tamga__inner-left__title {
    font-size: 24px;
    line-height: 32px;
  }
  .certificate__inner {
    justify-content: center;
  }
  .slider__btn--right {
    right: 0;
  }
  .slider__btn--left {
    left: 0;
  }
}
@media (max-width: 992px) {
  .benefits__inner {
    grid-template-columns: 1fr 1fr;
  }
  .certificate__inner {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
  }
  .tamga__inner {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .offer {
    margin-bottom: 50px;
  }
  .offer__img {
    margin-bottom: 50px;
  }
  .offer__title {
    font-size: 24px;
    line-height: 32px;
  }
  .offer__title {
    font-size: 22px;
    line-height: 23px;
  }
  .benefits {
    margin-bottom: 50px;
  }
  .benefits__title {
    font-size: 22px;
    line-height: 23px;
  }
  .benefits__inner__item__title {
    font-size: 15px;
  }
  .benefits__inner__item__text {
    font-size: 13px;
    max-width: none;
  }
  .benefits__inner__item {
    width: 100%;
  }
  .benefits__inner {
    grid-template-columns: 1fr;
  }
  .certificate__inner {
    display: flex;
    justify-content: center;
  }
  .tamga {
    margin-bottom: 50px;
  }
  .tamga__inner-left {
    padding: 32px 32px 0 32px;
  }
  .tamga__inner-right {
    padding: 32px 32px 0 32px;
  }
  .benefits__inner__item {
    margin: 0 auto;
  }
  .modal__dialog {
    width: 340px;
    height: 610px;
  }
  .modal__dialog--offer {
    width: 400px;
    height: 680px;
  }
  .modal__dialog__inner__wrapper {
    flex-direction: column;
  }
  .modal__btn {
    margin-top: 12px;
  }
  .input--half {
    margin-bottom: 12px;
  }
  .modal__dialog__inner__title {
    font-size: 15px;
    line-height: 18px;
  }
  .modal__dialog__inner__text {
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 10px;
  }
  .label {
    font-size: 13px;
    font-weight: 600;
  }
  .input {
    margin-bottom: 6px;
  }
  .modal__dialog__inner__subtext {
    line-height: 17px;
  }
  .checkbox--second {
    margin-bottom: 12px;
  }
}/*# sourceMappingURL=benefits.css.map */