@import "../../styles/variables.scss";

.medicine {
    margin-bottom: 90px;

    &__inner {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column: 30px;

        &-right {
            &__title {
                @include h2;
                margin-bottom: 8px;
            }

            &__text {
                width: 100%;
                max-width: 769px;
                line-height: $line-height-text;
            }
        }

        &-left {
            width: 100%;
            max-width: 370px;
            display: block;
        }
    }
}

@import "../../styles/main.scss";