@import "../../styles/variables.scss";

.medicine {
    margin-bottom: 90px;

    &__inner {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-column: 30px;

        &-right {
            &__title {
                @include h2;
                margin-bottom: 8px;
            }

            &__text {
                width: 100%;
                max-width: 769px;
                line-height: $line-height-text;
            }
        }

        &-left {
            width: 100%;
            max-width: 370px;
            display: block;
        }
    }
}


@media(max-width:1200px) {
    .medicine {
        &__inner {
            display: flex;
            flex-direction: column;
            row-gap: 40px;
        }
    }
}

@media(max-width:576px) {
    .medicine {
        margin-bottom: 50px;

        &__inner {
            align-items: center;

            &-right {
                &__title {
                    font-size: 22px;
                    line-height: 23px;
                }
            }
        }
    }
}

@import "../../styles/main.scss";