// import common file

@import '../styles/resetter.scss';
@import '../styles/variables.scss';


// import Montserrat Alternates from google fonts 400 700

@import url('https://fonts.googleapis.com/css2?family=Arsenal:wght@400;700&family=Montserrat+Alternates:wght@400;500;600;700&display=swap');

// common style

body {
	font-family: 'Montserrat Alternates', sans-serif;
	font-size: 15px;
	color: $main-color;

	&.no-scroll {
		overflow: hidden;
	}
}

.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	box-sizing: border-box;
}

button,
a {

	&:hover {
		color: $white;
	}
}